<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <nav>
        <% include partials/nav.ejs %>
    </nav>
    <main class="video-container">
        <iframe src="<%= video %>" frameborder="0" width="250" height="200"></iframe>
    </main>
    <summary class="container">
        <h3><%= move.title %></h3>
        <p><%= move.notes %></p>

        <% if (currentUser) { %>
            <form action="/techniques/<%= move.id %>/edit" method="GET">
                <input type="submit" value="Edit Technique"/>
            </form>

            <form action="/users/<%= move.id %>" method="POST">
                <input type="submit" value="Add to Favorites"/>
            </form>
        <% } %>
        <a href="/techniques"><button>Back to Index</button></a>
    </summary>
</body>
</html>