<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <nav>
        <% include partials/nav.ejs %>
    </nav>
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/<%= move.videoId %>" frameborder="0" width="250" height="200"></iframe>
    </div>
    <main class="container">
        <h3 class="center-align"><%= move.title %></h3>
        
        
        <!-- Logged in User -->
        <% if (currentUser) { %>

            <!-- Admin options -->
            <% if (currentUser.isAdmin) { %>
                <form class="form-options" action="/techniques/<%= move.id %>/edit" method="GET">
                    <input class="btn" type="submit" value="Edit Technique"/>
                </form>
            <% } %>
            
            <form id="favorites" class="form-options right" action="/users/<%= move.id %>" method="POST">
                <input class="btn" type="submit" value="Add to Favorites"/>
            </form>


            <!-- <form id="new-note" action="/techniques/<%=move.id %>/new?_method=PUT" method="POST"> -->
            <form action="#" id="new-note" class="center">
                <textarea name="note" id="note" cols="30" rows="10" placeholder="Add a New Note..."></textarea>
                <input class="btn" type="submit" value="Add Note">
            </form>
        <% } %>

        <!-- <a href="/techniques"><button>Back to Index</button></a> -->
    </main>
    <section class="notes-section">
        <!-- Notes -->
        <!-- <h5>Notes:</h5> -->
        <div class="divider"></div>
        <div class="notes-list center-align">
            <% move.notes.forEach((note) => {%>
                <div class="note">
                    <%= note %>
                </div>
            <%})%>
        </div>
    </section>
</body>
</html>