<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <nav>
        <% include partials/nav.ejs %>
    </nav>
    <main class="video-container">
        <iframe src="<%= video %>" frameborder="0" width="250" height="200"></iframe>
    </main>
    <summary class="container">
        <h3><%= move.title %></h3>
        
        <!-- Admin options -->
        <% if (currentUser.isAdmin) { %>
            <form action="/techniques/<%= move.id %>/edit" method="GET">
                <input type="submit" value="Edit Technique"/>
            </form>
        <% } %>
            
        <!-- Logged in User -->
        <% if (currentUser) { %>
            <form action="/users/<%= move.id %>" method="POST">
                <input type="submit" value="Add to Favorites"/>
            </form>

            <form action="/techniques/<%=move.id %>/new?_method=PUT" method="POST">
                <textarea name="note" id="note" cols="30" rows="10" placeholder="Add a New Note..."></textarea>
                <input type="submit" value="Add Note">
            </form>
        <% } %>

        <!-- Logged out view -->
        <h4>Notes:</h4>
        <% move.notes.forEach((note) => {%>
            <div>
                <%= note %>
            </div>
        <%})%>
        <a href="/techniques"><button>Back to Index</button></a>
    </summary>
</body>
</html>