<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
    <nav>
        <% include ../partials/nav.ejs %>
    </nav>
    <h1><%= currentUser.username %>'s Favorites</h1>
    <main class="container">
        <!-- Favorites load here -->
        <div class="row">
            <% favorites.forEach((technique) => { %>
                <div class="col s12 m6 l3">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="https://img.youtube.com/vi/<%= technique.videoId %>/hqdefault.jpg" alt="Youtube thumbnail <%= technique.title %>">
                            </div>
                            <a href="/techniques/<%= technique.id %>"><h4><%= technique.title %></h4></a>
                            <form action="/users/<%= technique.id %>?_method=DELETE" method="POST">
                                <button>Remove Favorite</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }) %> 
        </div>
    </main>
</body>
</html>